<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce</title>


    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'spree/backend/all' %>
    <%= javascript_include_tag 'spree/backend/all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>



